<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/admin.css">
  <title>Document</title>
</head>

<body>
  <h2>All Users Table</h2>
 
  <table class="table"  >
    <thead class="th1">
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <tr>
        <td>64c1fa94fc7474036a52b3a0</td>
        <td>kiran</td>
        <td>kiran@gmail.com</td>
        <td>kiran</td>
        <td>admin</td>
      </tr>
      <tr>
        <td>64c3b1b5ba3cdd74aad4d3f7</td>
        <td>jayuuu</td>
        <td>jayu@gmail.com</td>
        <td>jayu</td>
        <td>admin</td>
      </tr>
      <tr>
        <td>64c3b9fd78082dc69044e0fb</td>
        <td>kittu</td>
        <td>kittu@gmail.com</td>
        <td>kittu@123</td>
        <td>user</td>
      </tr>
    </tbody>
  </table>
</body>
</html>